<!--OZEL BANNER ALANI-->
<div class="mt-1" >
    
                        <div class="row p-2">
                            <div class="col-12 col-md-6 rounded-3 p-2">
                                    <a href="https://noktaelektronik.com.tr/tr/urunler/active-v-groove-fusion-splicer-341790"><img class="rounded-3" src="https://noktanet.s3.eu-central-1.amazonaws.com/uploads/images/banner/6628c3c8d5e59_06.png" style="width: 100%" alt=""></a>
                            </div>
                            <div class="col-6 col-md-3 rounded-3 p-2">
                                    <a href="https://noktaelektronik.com.tr/tr/urunler/industrial-gigabit-ethernet-switch-with-8-101001000base-t-poe-ports-4-101001000base-x-sfp-slots8x-30w-289090"><img class="rounded-3" src="https://noktanet.s3.eu-central-1.amazonaws.com/uploads/images/banner/6628cf93ab1c6_07.png" style="width: 100%" alt=""></a>
                            </div>
                            <div class="col-6 col-md-3 rounded-3 p-2">
                                    <a href="https://noktaelektronik.com.tr/tr/urunler?cat=cctv-274&brand=&filter=&search="><img class="rounded-3" src="https://noktanet.s3.eu-central-1.amazonaws.com/uploads/images/banner/6628cf93bb1d5_08.png" style="width: 100%" alt=""></a>
                            </div>
                        </div></div>
<!--OZEL BANNER ALANI SONU-->
