<!--OZEL BANNER ALANI-->
<div class="mt-1" >
    
                        <div class="row p-2">
                            <div class="col-12 col-md-6 rounded-3 p-2">
                                    <a href="https://www.noktaelektronik.com.tr/tr/urunler/test-cihazlari-el-aletleri/kablo-test-ve-sonlandirma/fo-fuzyon-cihazlari/active-v-groove-fusion-splicer-view3"><img class="rounded-3" src="https://noktanet.s3.eu-central-1.amazonaws.com/uploads/images/banner/6628c3c8d5e59_06.png" style="width: 100%" alt=""></a>
                            </div>
                            <div class="col-6 col-md-3 rounded-3 p-2">
                                    <a href="https://www.noktaelektronik.com.tr/tr/urunler/aktif-network-urunleri/endustriyel-ethernet/yonetilebilirendustriyel-poe-switch/industrial-gigabit-ethernet-switch-with-8-10/100/1000base-t-poe-ports-4-10/100/1000base-x-sfp-slots8x-30w-ecis4500-8p4f"><img class="rounded-3" src="https://noktanet.s3.eu-central-1.amazonaws.com/uploads/images/banner/6628cf93ab1c6_07.png" style="width: 100%" alt=""></a>
                            </div>
                            <div class="col-6 col-md-3 rounded-3 p-2">
                                    <a href="https://www.noktaelektronik.com.tr/tr/urunler/rf-haberlesme-urunleri/rf-konnektorler/bnc-konnektorler/cctv/bnc-nikel-vidali-konnektor-tw-rg58-59-6-bnc108-1"><img class="rounded-3" src="https://noktanet.s3.eu-central-1.amazonaws.com/uploads/images/banner/6628cf93bb1d5_08.png" style="width: 100%" alt=""></a>
                            </div>
                        </div></div>
<!--OZEL BANNER ALANI SONU-->
